@import 'normalize';

//variables
$font-color: white;
$font-size: 1em;
$h1-size: 72;

//functions
@function rem-calc($value){
  @return ($value / 16) + rem;
}

@mixin center-block(){
  margin-left: auto;
  margin-right: auto;
}

html,body{
  background-color: ghostwhite !important;
  overflow-x: hidden;
  font-family: 'Sanchez', serif !important;
  font-size: 62.5%;
}

.landing-tron{
  width: 100vw;
  height: 100vh;
  background-image: url('../images/low-poly-texture-90-spotlight.png');
  background-size: cover;

  .intro-text{
    margin-top: 38vh;
    font-size: 5vmax;
    font-weight: bold;
    color: white;

    .diff-text{
      font-family: 'Arvo', serif !important;
    }
  }
}

.nav.navbar{
    margin-top: 2vh;
    color: white !important;
    font-size: 2vmax;

    span{
      font-size: 1.1em;
    }
}

.links{
  margin-right: 2vw;
  font-size: 1.1vmax;
  span{
    cursor: pointer;
  }
}

.intro-spacer{
  height: 5vh;
  background-color: rgba(245,245,255,.5);
}

.about-me{
  font-size: 1.4vmax;
  background-color: rgba(245,245,255,.5);
  .center-text{
    font-size: 28px;
    color: #921837;
  }
}

.body-text{
  font-size: 1.3vmax;
  color: black;
}
