.col-hv_centered{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.col-h_centered{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.col-align_left{
  align-self: flex-start;
}

.row-hv_centered{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.row-v_centered{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.horizontal-list span{
  width: 220px;
  display: inline-block;
  text-align: center;
}

.wrap-items{
  flex-wrap: wrap;
}

input, textarea{
  border-radius: 5px;
  padding: 10px;
}

.input-msg{
  width: 452px;
  height: 63px;
  margin-bottom: 15px;
}

.text-hv_centered{
  padding: 20px;
}

.search{
  display: inline;
}

.btn{
  width: 100px;
  padding: 10px;
  background-color: #f8f8ff;
  margin-top: 15px;
  margin-bottom: 15px;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.card{
  position: relative;
  background: #f8f8ff;
  box-shadow: 0px 20px 25px -10px rgba(0,0,0,0.5);
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
}

.card-header{
  width: 100%; 
}

.card-body{
  width: 100%;
}